body{color:darkgreen;padding:0em 2% 0em 2%;font-size:130%;background-color:lightgray;font-family:sans-serif;}
code{color:darkred;}
select{font-size:110%;padding:8px;}
input{font-size:110%;padding:8px;}
