<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Author" content=" Todd R. Hanneken">
		<title>JubPalCapture</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
		<style>
			.underconstruction{color:gray;}
		</style>
	</head>
	<body>
		<h1>JubPalCapture</h1>
		<h2>Live View</h2>
		<ul>
			<li><a href="{{url_for('webcamlive')}}">Webcam</a></li>
			<li><a href="{{url_for('qhylive')}}">QHY</a></li>
			<li><a href="{{url_for('pixelinklive')}}">Pixelink</a></li>
			<li><a href="{{url_for('flirlive')}}">Flir</a></li>
		</ul>
		<h2 class="underconstruction">Capture (Under Construction)</h2>
		<h2 class="underconstruction">Edit Configurations (Under Construction)</h2>
		<h2 class="underconstruction">Edit Shotlists (Under Construction)</h2>
	</body>
</html>

