<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Author" content=" Todd R. Hanneken">
		<title>JubPalWeb</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
	</head>
	<body>
		<h1>JubPalWeb</h1>
		<h2>Live View</h2>
		<ul>
			<li><a href="{{url_for('webcamlive')}}">Webcam</a></li>
			<li><a href="{{url_for('qhylive')}}">QHY</a></li>
			<li>Canon TBA</li>
		</ul>
		<h2>Capture</h2>
		<h2>Edit Configurations</h2>
		<h2>Edit Shotlists</h2>
	</body>
</html>

